MYSQL_USER=
MYSQL_PASSWORD=

WG_SITENAME=
WG_METANAMESPACE=

WG_EMERGENCYCONTACT=
WG_PASSWORDSENDER=

WG_SECRETKEY=
WG_UPGRADEKEY=

WG_SMTP_HOST=
WG_SMTP_IDHOST=
WG_SMTP_LOCALHOST=
WG_SMTP_PORT=
WG_SMTP_USERNAME=
WG_SMTP_PASSWORD=
WG_SMTP_AUTH=
